@{
    ViewBag.Title = "Home";
}

@model List<BlogSystem.Models.Post>

<div class="jumbotron">
    <h1>Blog System</h1>
    <p class="lead">A simple Blog System created with ASP.NET.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div id="posts"></div>

<script>
    function renderPosts() {
        $.get("/Home/Posts", function (data) {
            $('#posts').html(data);
        })
    }

    setInterval(renderPosts, 250);
</script>