@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Administrators") || User.IsInRole("Authors"))
{
    <p>
        <a class="btn btn-success btn-xs" href="/Posts/Create">Create New</a>
    </p>
}

<div id="posts"></div>

<script>
    function renderPosts() {
        $.get("/Posts/ListPosts", function (data) {
            $('#posts').html(data);
        })
    }

    setInterval(renderPosts, 250);
</script>